<%= link_to("Home", root_url) %>

<h2>Your reservation at <%= @reservation.restaurant.name %> for a party of
<%= @reservation.party_size %> is at
<%= @reservation.time %> o'clock on
<%= @reservation.date %>.</h2>
