<h1>Create a Reservation</h1>
<%= form_for [@restaurant, @reservation] do |f| %>

<%= f.hidden_field :restaurant_id %>

<div class="field">
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>

<div class="field">
  <%= f.label :time %>
  <%= f.number_field :time %>
</div>

  <div class="field">
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </div>

  <%= f.submit 'Reserve' %>

<% end %>
