<%= link_to("Home", root_url) %>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %>, <%= @restaurant.city %></p>

<p><a href = "<%= @restaurant.menu %>">Menu</p>

<h1>Create a Reservation</h1>
  <%= form_for @reservations.each do |f| %>
  <div class="field">
    <%= f.label :party_size %>
    <%= f.integer :party_size %>
  </div>

<% end %>
