<%= link_to("Home", root_url) %>

<h2><%= @restaurant.name %></h2>
<h3><p><%= @restaurant.address %>, <%= @restaurant.city %></p>
<%= @restaurant.price_range %> || <a href = "<%= @restaurant.menu %>">Menu</a> || <%= @restaurant.neighborhood %>
<p><%= @restaurant.summary %><p></h3>

  <% flash.each do |k, v| %>
      <div id="<%= k %>"><%= v %></div>
    <% end %>


  <%= render partial: "form_for_res" %>
