<%= link_to("Home", root_url) %>

<h2><%= @restaurant.name %></h2>
<h3><p><%= @restaurant.address %>, <%= @restaurant.city %></p>
<%= @restaurant.price_range %> || <a href = "<%= @restaurant.menu %>">Menu</a> || <%= @restaurant.neighborhood %>
<p><%= @restaurant.summary %><p></h3>


<!-- - neighborhood, price range,
summary, available time slots -->




  <%= render partial: "form_for_res" %>
